@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
main {
    padding: 16px
}
footer {
    background-color: rgba(115, 175, 23, 0.835);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 0px;
}
img {
    height: 200px;
}
nav {
    background-color: rgb(201, 102, 70);
    border-bottom: 1px solid black;
    padding: 16px
}

a {
    text-decoration: none;
}
h1 {
    color: green;
}
.has-white-text {
    font-weight: bold;
    color: white;
}
.has-green-text {
    color: green;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}
.details-grid {
    display: grid;
    grid-template-columns: 1fr;

}
tr:nth-child(2n) {
    background-color: rgba(128, 128, 128, 0.476);
}
img {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.394);
    transition: 2px;
}
h1, h2 {
    font-family: prata;
}
footer {
    font-family: prata;
    text-align: center;
}
h3 {
    font-family: prata;
}
p {
    font-family: prata;
}